<!doctype html>
<html class="md-no-js" lang="en">
<head>

	{{> _meta}}

	<title>{{title}}</title>

	<base href="../"/>

	{{> _fonts}}

	{{> _css-main}}

	{{> _js-modernizr}}

</head>
<body>

	{{> _svg }}

	<div class="container">

		{% body %}

	</div>

	{{> _js-main}}

</body>
</html>
