---
layout: index.hbs
---

<h1>spotify</h1>

<h2>Templates</h2>
<ul class="zebra-striping">
	{{#withSort (items "pages") 'data.title'}}
		{{#if this.data.title}}
			<li><a href="{{formatIndexPageUrl this }}">{{ this.data.title }}</a></li>
		{{/if}}
	{{/withSort}}
</ul>

<h2>Components</h2>
<ul class="zebra-striping">
	{{#withSort (items "organisms") 'data.title'}}
		{{#if this.data.title}}
			<li><a href="{{formatIndexComponentUrl this }}">{{ this.data.title }}</a></li>
		{{/if}}
	{{/withSort}}
</ul>
